---
import Layout from "../../layouts/Layout.astro";
import "../../../assets/scss/astro-ecommerce.scss";
import Navbar from "../../components/navbar";
import Footer from "../../components/footer";
import ProductFeatureImg from "../../components/products/productFeatureImg";
import ProductFeatureDetails from "../../components/products/productFeatureDetails";
import { shuffle } from "../../../assets/js/util/shuffle";
import serverData from "../../../public/data.json";

const aboutImages = shuffle(serverData.about.concat(serverData.promo));
---

<Layout title={"About AED Publishing"}>
  <main>
    <Navbar />
    <div class="pt-5 px-5">
      <div class="card card-product card-plain">
        <div class="row">
          <div class="col-12 col-lg-7 mx-auto text-center">
            <h2 class="mb-3">What is AED Publishing?</h2>
            <p class="mb-5">
              We are an independent and privately owned publishing company that focuses on the creation and distribution
              of character and story driven games. AED Publishing was founded by Stephen Koontz in 2022 with the goal of
              making novel tabletop roleplaying games that aspire to help that artform continue to evolve and give back
              to the community that had given so much to him.
            </p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-lg-6 pe-5">
            <div class="row">
              <h4 class="mb-3">Our Asperational Mission</h4>
              <p class="mb-5">
                The AED of AED Publishing is not an acronym, but an abbreviation of the Latin word aedificare, which
                means “to build up, to create, to edify”. That’s our purpose. At a time when so many things can tear us
                down, we’re trying to build each other up.
              </p>
              <ProductFeatureDetails
                featuresDetails={[
                  "We believe art is what happens when a medium is both engaging and meaningful; such as storytelling, the craft of telling fiction in order to point at a greater truth.",
                  "We believe that collaborative storytelling (TTRPGs, LARPing, Improv, Co-writing) is as rich and worthy a medium as any other (novels, movies, television, stageplays).",
                  "Our aspirational goal is to tell stories that are so powerful they become art. In doing so, we share those stories and most importantly the tools, frameworks, systems, and settings that we used to create that art, so that others might benefit from our fumbling attempts.",
                  "We believe that creating and experiencing art is inherently meaningful. That meaning more than anything brings happiness. And so, by sharing our art and tools, in this small but earnest way, we strive to make the world around us a better place.",
                ]}
              />
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <ProductFeatureImg images={aboutImages} />
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
