@font-face {
  font-family: Sabon;
  src: local("/fonts/sabon-cufonfonts/Sabon.ttf");
}

body {
  background-color: #2a2e52;
}

img.handout {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span {
  color: white;
  font-size: 30px;
  font-family: Sabon;
}

img.discord {
  width: 30px;
}

a {
  text-decoration: none;
  color: white;
}

/* show underline on hover */
a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  -webkit-text-decoration-color: white;
}
